<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Fire TV / Android TV Features -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:banner="@mipmap/ic_banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback"
        android:usesCleartextTraffic="${usesCleartextTraffic}"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Playback Activity -->
        <activity
            android:name=".ui.playback.PlaybackActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:screenOrientation="landscape" />

        <!-- Details Activity -->
        <activity
            android:name=".ui.details.DetailsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape" />

        <!-- Login Activity -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- Settings Activity -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>
